.App {
  text-align: center;
}
.pageStyle  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff8dc;
  min-height: 100vh;
}

.headerStyle  {
  background-color: teal;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.titleStyle  {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

.inputContainerStyle  {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.inputStyle {
  margin: 5px;
  padding: 10px;
  text-align: center;
  width: 300px;
}

.buttonStyle  {
  background-color: green;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
